.container_channel{
    background-color: black;
}
.container_author{
    background-color: #191A1D;
    padding: 30px;
}

.container_listtab{
    margin: 30px 0;
    background-color: #191A1D;
}
.img_info_author{
    border: 2px solid #DE0404;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.info_author{
    display: flex;
}
.author_name{
    display: grid;
    align-items: center;
}
.row_container{
    display: flex;
    align-items: center;
}
.subscribe_container{
    margin-right: 10px;
}
.button_sub{
    display: flex;
    align-items: center;
}
.container_listtab .mySwiperChannel{
    padding:10px 50px !important;
}
.slider_tab,.slider_tab-active{
    height: 15vh !important;
    min-height: 120px;
    
    padding: 30px;
    background-color: #191A1D;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #282828;
}
.slider_tab:hover{
    cursor: pointer;
    
}
.slider_tab:hover span{
    color: #DE0404 !important;
    
}
.slider_tab:hover .icon_tab{
    background-color: #DE0404 !important;
    
}
.slider_tab-active span{
    color: #DE0404 !important;
    
}
.slider_tab-active .icon_tab{
    background-color: #DE0404 !important;
    
}
.icon_tab{
    height: 43px;
    width: 43px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #3C3F46;
    border-radius: 50%;
}
.quantity_item_per_page{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.container_filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}